body {
  background: #044a42;
}
header {
  font-family: nunito;
  color: #b8e1dd;
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
  font-weight: 500;
  background-color: #062925;
}
i {
  display: block;
  align-items: right;
  color: #b8e1dd;
}
h1 {
  text-align: left;
  font-family: nunito;
  color: #b8e1dd;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 30px;
  text-decoration: underline;
}
h2 {
  text-align: center;
  line-height: 1.5;
  font-family: nunito;
  color: #b8e1dd;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
.dayAndTime {
  text-align: center;
  font-family: nunito;
  color: #b8e1dd;
}
button {
  background-color: #062925;
  color: #3a9188;
  font-weight: bolder;
  padding: 10px;
  font-family: nunito;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: solid;
  border-radius: .25%;
  border-color: #b8e1dd;
 border width: 1px;
}
button:hover{
  background-color: #3a9188;
  color: #062925;
}
ul {
  padding: 0px;
}
li {
  list-style: none;
  color: #b8e1dd;
}
.current {
  display: inline-block;
  border: solid;
  border-radius: 5%;
  border-width: 1.5px;
  border-color: #b8e1dd;
  background-color: #3a9188;
  padding: 10px 10px;
  margin: 100px 10px;
  max-width: fit-content;
}
.current:hover {
  background-color: #062925;
  transition: 150ms ease-in-out;
}
.container {
  margin: 0px;
  display: inline-block;
}
.col {
  color: #b8e1dd;
}
.card-body {
  background-color: #b8e1dd;
}
.navbar {
  margin-top: 0px;
  margin-left: 0px;
  width: 1300px;
  border: solid;
  border-color: #b8e1dd;
  border-radius: 5%;
}
.row {
  border-width: 10px;
  border: solid;
  border-color: #b8e1dd;
  padding: 100px;
  font-size: 25px;
  text-align: center;
  background-color: #3a9188;
  border-radius: 1.5%;
}
.temp {
  border: solid;
  border-color: #044a42;
  background-color: #062925;
  border-radius: 45%;
  text-align: center;
  padding: 30px 5px;
}
.temp:hover {
  background-color: #3a9188;
  transition: 150ms ease-in-out;
}
#openSourceLink{
    display: block;
    text-align: left;
}